*{
    margin: 0px;
    padding: 0px;
}

.nav{
    background-color: lightblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 100px;
    align-self: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

a{
    text-decoration: none;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
}